.table {
    color: #333;
    min-height: 100vh;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 50px;
    font-size: calc(10px + 1vmin);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1px solid pink;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: flex-start;
    border: 1px solid purple;
}

.newRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: black;
}

.cell {
    border: 1px solid blue;
    /* max-width: 14%; */
    width:14%;
  }

  .cellTitle {
    border: 1px solid blue;
    width: 30%;
  }

/* td, th {
    border: 1px solid transparent;
    height: 30px;
    transition: all 0.3s;
}

th {
    background: #DFDFDF;
    font-weight: bold;
}

td {
    background: #FAFAFA;
    text-align: center;
}


tr:nth-child(even) td { background: #F1F1F1; }


tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; }   */


