.container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  color: #333;
  min-height: 100vh;
  margin: 2rem;
  font-size: 1rem;
  text-align: center;
}

.containerScroll {
  overflow-y: scroll;
  max-height: 60vh;
}

.containerExpandedRow {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid lightgray;
  padding: 0.2rem;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
  padding: 0.5rem 0;
  cursor: pointer;
}

.rowExpanded {
  min-height: 10rem;
}

.cell {
  width: 10%;
  text-align: start;
}

.cellTitle {
  width: 30%;
}
